<div class="container" id="home-flats">
  <h2 class="text-center">Recent flats</h2>
  <div class="row">
    <% data.cities.each do |owner, city| %>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= city.city_slug %>');">
          <div class="card-category"><%= city.city_name %></div>
          <div class="card-description">
            <h2><%= city.name %></h2>
            <p><%= city.description %></p>
            <p class="rating">
              <% city.rating.times do %>
              <i class="fas fa-star" style="color: #DDA12D"></i>
              <% end %>
              <% gs = 5 - city.rating %>
              <% gs.times do %>
              <i class="fas fa-star" style="color: #B5B8B9"></i>
              <% end %>
            </p>
          </div>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class:"card-user" %>
          <%= link_to "", "cities/#{owner}.html", class: "card-link" %>
        </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>






